<launch>

	<!-- Launch formation node-->

	<rosparam command="load" file="$(find formation)/config/params.yaml" />
    <rosparam command="load" file="$(find formation)/config/shape.yaml" />

    <node pkg="formation" type="master_node.py" name="master_node"  required="true" output="screen">
    </node>

    <group ns="robot0">
    	<arg name="id" value="0"/>
    	<rosparam command="load" file="$(find formation)/config/params.yaml" />
    	<param name="myID" type="int" value="$(arg id)" />

    	<node pkg="formation" type="robot_node.py" name="robot_node"  required="true" output="screen">
    	</node>
    </group>

    <group ns="robot1">
        <arg name="id" value="1"/>
        <rosparam command="load" file="$(find formation)/config/params.yaml" />
        <param name="myID" type="int" value="$(arg id)" />

        <node pkg="formation" type="robot_node.py" name="robot_node"  required="true" output="screen">
        </node>
    </group>

    <group ns="robot2">
        <arg name="id" value="2"/>
        <rosparam command="load" file="$(find formation)/config/params.yaml" />
        <param name="myID" type="int" value="$(arg id)" />

        <node pkg="formation" type="robot_node.py" name="robot_node"  required="true" output="screen">
        </node>
    </group>

    <group ns="robot3">
        <arg name="id" value="3"/>
        <rosparam command="load" file="$(find formation)/config/params.yaml" />
        <param name="myID" type="int" value="$(arg id)" />

        <node pkg="formation" type="robot_node.py" name="robot_node"  required="true" output="screen">
        </node>
    </group>

    <group ns="robot4">
        <arg name="id" value="4"/>
        <rosparam command="load" file="$(find formation)/config/params.yaml" />
        <param name="myID" type="int" value="$(arg id)" />

        <node pkg="formation" type="robot_node.py" name="robot_node"  required="true" output="screen">
        </node>
    </group>

    <group ns="robot5">
        <arg name="id" value="5"/>
        <rosparam command="load" file="$(find formation)/config/params.yaml" />
        <param name="myID" type="int" value="$(arg id)" />

        <node pkg="formation" type="robot_node.py" name="robot_node"  required="true" output="screen">
        </node>
    </group>

</launch>
